@font-face
    font-family PTSansReg
    src url(../fonts/PTSansRegular.eot)
    src url(../fonts/PTSansRegular.eot?#iefix) format(embedded-opentype),
        url(../fonts/PTSansRegular.woff) format(woff),
        url(../fonts/PTSansRegular.ttf) format(truetype)
    font-weight normal
    font-style normal

@font-face
    font-family PTSansBold
    src url(../fonts/PTSansBold.eot)
    src url(../fonts/PTSansBold.eot?#iefix) format(embedded-opentype),
        url(../fonts/PTSansBold.woff) format(woff),
        url(../fonts/PTSansBold.ttf) format(truetype)
    font-weight normal
    font-style normal

@font-face
    font-family CourierNewReg
    src url(../fonts/CourierNRegular.ttf) format(truetype)
    font-weight normal
    font-style normal